repos:
-   repo: https://github.com/python/black
    rev: 20.8b1
    hooks:
    - id: black
    
    repo: https://github.com/pycqa/isort
    rev: 5.6.4
    hooks:
      - id: isort
        args: ["--profile", "black"]
