repos:
-   repo: https://github.com/pycqa/isort
    rev: 5.10.1
    hooks:
    - id: isort

-   repo: https://github.com/python/black
    rev: 22.10.0
    hooks:
    - id: black

-   repo: https://github.com/asottile/pyupgrade
    rev: v3.2.0
    hooks:
    - id: pyupgrade
      args: ["--py37-plus"]

-   repo: https://github.com/pycqa/flake8
    rev: 5.0.4
    hooks:
    - id: flake8
      exclude: ^fuzz/generated/

-   repo: https://github.com/PyCQA/bandit
    rev: 1.7.4
    hooks:
    - id: bandit
      args: ["-c", "bandit.conf"]

-   repo: https://github.com/jorisroovers/gitlint
    rev: v0.17.0
    hooks:
    - id: gitlint
