name: Python application

on: [push]

jobs:
  build:

    runs-on: ubuntu-latest

    steps:
    - uses: actions/checkout@v1
    - name: Set up Python 3.7
      uses: actions/setup-python@v1
      with:
        python-version: 3.7
    - name: Install dependencies
      run: |
        python -m pip install --upgrade pip
        pip install -r requirements.txt
        pip install jsonschema
    - name: Lint with black
      run: |
        pip install black
        black --check cve_bin_tool/
        black --check test/
    - name: Run tests
      run: |
        python setup.py test
