name: Spell checking
on: [push, pull_request]

jobs:
  spelling:
    name: Spell checking
    permissions:
      contents: read
      pull-requests: read
      actions: read
    runs-on: ubuntu-latest
    steps:
    - uses: actions/checkout@v3
    - uses: check-spelling/check-spelling@v0.0.21
      with:
        post_comment: '0'
