# This is a scheduled workflow to keep hardcoded JS dependencies up to date

name: Update JS dependencies

on:
  schedule:
    # Runs at 00:00 UTC on the 2nd January of every year
    - cron: '0 0 2 1 *'

  # Allows you to run this workflow manually
  workflow_dispatch:

jobs:
  update:
    runs-on: ubuntu-latest

    steps:
      - uses: actions/checkout@v3

      - uses: actions/setup-python@v4
        with:
          python-version: '3.x'

      - name: Update JS dependencies
        run: |
          python .github/workflows/update_js_dependencies.py

      - name: Get cached Python packages
        uses: actions/cache@v3
        with:
          path: ~/.cache/pip
          key: ${{ runner.os }}-pip-${{ hashFiles('**/requirements.txt') }}
          restore-keys: |
            ${{ runner.os }}-pip-

      - name: Install dependencies
        run: |
          sudo apt-get update
          sudo apt-get install build-essential libpoppler-cpp-dev pkg-config python3-dev
          python -m pip install --upgrade pip
          python -m pip install --upgrade setuptools wheel
          python -m pip install --upgrade -r requirements.txt pytest pdftotext

      - name: Test HTML report generation
        run: |
          pytest test/test_output_engine.py -k test_output_html

      - name: Create Pull Request
        uses: peter-evans/create-pull-request@v4
        with:
          commit-message: "chore: update js dependencies"
          title: "chore: update js dependencies"
          branch: chore-js-dependencies
          delete-branch: true
          author: GitHub <noreply@github.com>
          body: |
            Check generated HTML report for any regressions [here][1].

            [1]: https://github.com/${{ github.repository }}/actions/runs/${{ github.run_id }}

      - name: Generate mock report
        run: |
          python -c 'from test.test_output_engine import TestOutputEngine; \
          from cve_bin_tool.output_engine.html import output_html; \
          output_html(TestOutputEngine.MOCK_OUTPUT, "", "", "", 3, 3, 0, None, None, open("test.html", "w"))'

      - name: Upload mock report
        uses: actions/upload-artifact@v3
        with:
          name: HTML report
          path: |
            test.html
